html,
body {
  margin: 0 !important;

  padding: 0;
}
body {
  background-color: #fff;
}
.clear {
  clear: both;
  height: 60px;
}

.button-icon {
  height: 20px;
  width: auto;
  padding-right: 3px;
  stroke: white;
}

input[type="text"],
[type="email"],
[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.color-active-tab {
  color: #005461;
  font-weight: bold;
}

button:hover {
  background-color: #013f48;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
  margin-left: 15px;
}

.footer {
  position: relative;
  margin-top: auto;
  bottom: 0;
  width: 100%;
  background-color: #005461;
  color: #fff;
}

.container {
  max-width: 80rem;
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.error {
  background-color: #e5b4b4;
  padding: 15px;
  color: #7b5656;
  border: solid 0.5px #f37878;
}

.bottom-menu {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.bottom-submenu {
  display: flex;
  flex-direction: column;
}

.bottom-submenu-list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.bottom-submenu-list > li > a {
  font-weight: 500;
  color: white;
  font-size: 20px;
}

.bottom-submenu-list > li {
  margin-bottom: 10px;
}

.footer-copyright {
  font-family: dagny, sans-serif !important;
  font-size: 25px;
  font-weight: 200;
}

body,
html {
  font-family: dagny, sans-serif !important;
}
.clear {
  clear: both;
  height: 60px;
}

.index-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
  /* height: 100vh; */
}
.index-container {
  margin: 2% 5%;
  width: 80%;
}
.index-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: grey;
}
.color-active-tab {
  color: black !important;
}

.index-form-container {
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 3em;
}
h1,
h2 {
  text-align: center;
  margin: 1em 0;
  font-family: dagny, sans-serif !important;
}
.forgot-password-link {
  text-align: right;
  color: #000;
}
button[type="submit"] {
  width: 100%;
  background-color: #005461;
  color: white;
  padding: 10px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons a {
  width: 150px !important;
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #005461;
  border-radius: 5px;
  border: none;
  font-family: dagny, sans-serif !important;
  padding: 7px 15px;
  font-size: 12px;
}
.buttons a:hover {
  background-color: #013f48;
}

.footer {
  position: absolute !important;
  bottom: 0 !important;
}
